.octodex {
	font-family: arial;
	font-weight: bold;
	color: grey;
}

a {
	text-decoration: none;
	color: black;
}

img {
	border: 1px solid lightgrey;
	border-radius: 10px;
	width: 200px;
	height: 200px;
}

li {
	float: left;
	list-style: none;
}


.octocat {

}

.image-footer {

}

.image-number {

}

.image-caption {
	
}

.authors {

}

.authors img {
	width: 20px;
	height: 20px;

}