.octodex {
	
}

a {
	text-decoration: none;
	color: black;
	float: left;
	padding: 10px;
}

img {
	border: 1px solid lightgrey;
	border-radius: 5px;
	width: 400px;
	height: 400px;
	/*margin: 10px;*/
}

li {
	list-style: none;
	float: left;
}


.octocat {
	font-family: arial;
	font-weight: bold;
	color: grey;
}

.image-footer {

}

.image-number {
	color: lightgrey;
	padding-top: 10px;
	padding-left: 20px;
}

.image-caption {
	float: right;
}

.authors {
	overflow: hidden;
}

.authors img {
	width: 30px;
	height: 30px;
	margin-left: 0px;
}

span {
	float: right;
	padding: 10px;
}