a {
	text-decoration: none;
	color: black;
}

img {
	border: 1px solid lightgrey;
	border-radius: 5px;
	width: 400px;
	height: 400px;
}

li {
	list-style: none;
	float: left;
}


.octocat {
	font-family: arial;
	font-weight: bold;
	color: grey;
	margin: 10px;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 10px;
}

.image-footer:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 0 8px;
	border-color: #d3d3d3 transparent transparent transparent;
	position: absolute;
	top: -4px;
	right: 4px;
}

.image-footer {
	position: relative;
}

.image-number {
	color: lightgrey;
	float: left;
	margin-top: 10px;
}

.image-number:before {
	content: "#";
}

.image-caption {
	float: right;
	margin-top: 8px;
	
}

.authors {
	float: right;
}

.authors img {
	width: 25px;
	height: 25px;
	float: right;
	border: none;
}
